<div class="container-fluid bg-dark text-light" style="height: 20vh; margin-top: 7em;">
    <div class="row" style="height: 100%">
      <div class="container">
        <div class="col-md-12 footer-prro">
          <img src="/images/logo-umg.png" alt="umg logo" style="width:80px">
        </div>
      </div>
    </div>
  </div>